*{
    font-family: 'Ariel', sans-serif;
}

.body {
            background-color: #c2d5e7;
    
        }
        .header{
        background-color: rgb(173, 216, 230);
        color: rgb(10, 75, 131);
        border: 10px solid rgb(97, 73, 161);
        border-radius: 20px;
        display: flex;
        justify-content: center;

        }

    .stevey{
        background-color: beige;
        }
    .demetri{
        background-color: blueviolet;
         }
    .primary-btn:hover{
        background-color: deeppink;
    }
    .primary-btn{
        background-color: green;
        cursor: pointer;
        border-radius: 20px;
    }
    #secondary-btn:hover{
        background-color: violet;
    }
    .man{
        width: 50px;
        height: auto;
    }
    
    /* p{
            background-color: aqua;
        } */
        
